{% extends "infused/layout/basic.html" %}


{% block title %}
        Запрос-{{ searched }}
{% endblock title %}

{% block content %}
<div class="grid">
    {% for value in values %}
            <div>
                {% if value.image_poster %}
                    <video controls poster="{{ value.image_poster.url }}"
                           class="videoclass" width="300" height="170">
                    <source src="{{ value.clip.url }}" type="video/mp4">
                    </video>
                {% else %}
                    <video controls class="videoclass" width="300" height="170">
                        <source src="{{ value.clip.url }}" type="video/mp4">
                    </video>
                {% endif %}
                <p>{{ value.title|truncatechars_html:65 }}</p>
                <a href="{% url 'infused:get_channel' value.channel.pk %}">
                    <p>{{ value.channel.channel_name }}</p>
                </a>
                <p>{{ value.published|date:"d.m.Y "}}</p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}