body {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
}

.btn_search {
    background: #f5f5f5;
    display: inline-block;
    transition: 0.4s;
    color: #000;
    cursor: pointer;
    padding: 11px 40px;
    border: 1px solid #a6a6a6;
    margin-left: -5px;
    height: 50px;
}

.btn_search:hover {
    background-color: #e0e0e0;
    color: #000;
}

.search_img {
    width: 17px;
    height: 17px;
}

.form_search {
    height: 50px;
    width: 1165px;
    margin-left: 150px;
    font-size: 25px;
    text-align: center;
}

.btn {
    background: #f5f5f5;
    display: inline-block;
    padding: 10px 27.7px;
    color: #000;
    cursor: pointer;
    border: 1px solid #a6a6a6;
    border-radius: 20px;
    transition: 0.4s;
    margin-top: -5px;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #e0e0e0;
    color: #000;
    font-size: 16.5px;
}

/*общие настройки сетки*/
.grid {
    /*подключаем сетку*/
    display: grid;
    background-color: #f5f5f5;
    /*формируем по 4 одинаковых строки*/
    grid-template-columns: repeat(5, minmax(320px, 320px));
    grid-template-rows: auto auto;
    width: 1600px;
}

/*внешний вид ячеек*/
.grid > * {
    border-color: black;
    /*скругление углов*/
    border-radius: 10px;
    /*расстояние от одной границы ячейки до другой*/
    margin: 10px;
}

/*общие настройки сетки*/
.grid_channel {
    /*подключаем сетку*/
    display: grid;
    background-color: #fcfcfc;
    /*формируем по 4 одинаковых строки*/
    grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
    grid-template-rows: auto auto;
    border: 2px solid #e7e7e7;
    width: 1575px;
}

/*внешний вид ячеек*/
.grid_channel > * {
    border-color: black;
    /*скругление углов*/
    border-radius: 10px;
    /*расстояние от одной границы ячейки до другой*/
    margin: 10px;
}

a {
    color: black;
    text-decoration: none;
}

video {
    object-fit: inherit;
}

nav {
    font-size: 12pt;
    width: 180px;
    float: left;
}

nav a {
    display: block;
    margin: 10px 0;
}

section {
    margin-left: 300px;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
}

/* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center; /* центрируем содержимое кнопки */
    position: fixed;
    top: 20px;
    left: 20px;

    width: 30px;
    height: 70px;

    cursor: pointer;
    z-index: 1;
}

/* добавляем гамбургер */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;

    width: 270px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;
    text-align: left;

    background-color: #ECEFF1;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
}

/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: "Raleway", sans-serif;
    font-size: 18pt;
    font-weight: normal;

    text-decoration: none;
}
.menu__item:hover {
    background-color: #CFD8DC;
    font-size: 22pt;
    transition: 0.4s;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: .25s;
}


.menu__box {
    transition-duration: .25s;
}
.menu__item {
    transition-duration: .25s;
}

.avatar_image {
    width: 100px;
    height: 100px;
    border: 1px;
    border-radius: 100% ;
}

#pic {
    float: top;
    margin-bottom: -80px;
}

#text {
    margin-left: 140px;
    margin-bottom: 40px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 1600px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    font-size: 1pc;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 1577px;
}

.description {
    width: 800px;
    text-align: left;
    font-size: 24pt;
}

.popup__open {
    position: fixed;
    background-color: #ffffff;
    top: 10px;
    right: 50px;
}

.popup__image {
    height: 100px;
    width: 100px;
}

.popup {
    position: fixed;
    width: 250px;
    height: 500px;
    background-color: #ECEFF1;
    top: 120px;
    right: 50px;
    opacity: 0;
    visibility: hidden;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__text {
    display: block;
    padding: 25px 30px;
    margin-left: -40px;

    color: #333;

    font-family: "Raleway", sans-serif;
    font-size: 15pt;
    font-weight: normal;

    text-decoration: none;
}

.popup__text:hover {
    background-color: #CFD8DC;
}

.popup__close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
}

.popup__close:hover {
    opacity: 1;
}

.popup__close:before, .popup__close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    color: black;
}

.popup__close:before {
    transform: rotate(45deg);
}

.popup__close:after {
    transform: rotate(-45deg);
}